.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration-color: white;
  text-align: center;
  margin-left: 12rem;
  margin-right: 9rem;
}

.homepagecard {
  background-color: #232634;
  color: black;
  flex-basis: 35%;
  /* width: 20%; */
  text-align: center;
  line-height: 75px;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid #babbf1;
  text-decoration-color: white;
  margin-bottom: 3rem;
  margin-right: 3rem;
}

.homepagecard p{
  color: #c6d0f5;
}

.homepagecard h3 {
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #f2d5cf;
}

.homepage-content h1 {
  /* padding-left: 36px; */
  margin-bottom: 3%;
  text-align: center;
}

.homepagecard-titles {
  text-decoration: none;
  color: #f2d5cf;
}

.homepagecard-titles:hover {
  color: #f2d5cf;
  text-decoration: none;
}
