.m-app {
  text-align: center;
}

.m-app input {
  padding: 4px;
  margin-right: 8px;
}

.m-app ul {
  /* Remove bullet point  */
  list-style: none;
}

.m-app li {
  margin: 12px 0;
}

.m-app table {
  color: #c6d0f5;
  width: 97%;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  --border: 2px solid #babbf1;
  border-radius: 7px;
  border-spacing: 0;
  border-collapse: separate;
  border: var(--border);
  overflow: hidden;
}

.m-app tr {
  background-color: #232634;
}

.m-dropdowns-buttons {
  display: flex;
  /* justify-content: left; */
  /* margin-left: 2rem; */
  outline: none;
}

.m-dropdowns {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 1.5rem;
}

.m-buttons {
  flex: 3;
}

/* .m-addbutton{
} */

.m-down {
  margin-left: 0.5rem;
  /* height: 3rem; */
}

.m-addbutton {
  margin-left: 1rem;
}

.m-submit-button {
  display: inline-block;
  padding: 0.4rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
  color: #212529;
}

.add-project {
  background-color: #232634;
  border: 2px solid darkcyan;
  padding: 8px 16px;
  border-radius: 4px;
  color: darkcyan;
}

.project-added {
  background-color: #232634;
  border: 2px solid green;
  padding: 8px 16px;
  border-radius: 4px;
  color: green;
  /* QUITADO EN __M__ PARA PRUEBAS
  pointer-events: none; */
}

.delete-button {
  font-size: 10px;
  margin-left: 8px;

  border: none;
  color: white;
  border-radius: 4px;

  padding-top: 4px;
  padding-bottom: 4px;
}

.Modal-M{
  background-color: #232634;
  height: 60%;
  margin: 10%;
  margin-left: calc(10% + 60px);
}

.Modal-M-app {
  background-color: #232634;
}
.Modal-M-app h2{
  color: #f2d5cf;
  text-align: center;
  padding-top: 20px;
}

.Modal-M-app h6{
  padding-left: 60px;
  color: white;
}

.Modal-Cancel-Continue{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 40%;
  padding-right: 40%;
}

.ReactModalPortal{
  background-color: #232634;
}

.ReactModal__Overlay{
  background-color: #232634;
}

.ReactModal__Content {
  background-color: #232634;
}
.modal-proyects-table{
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.modal-proyects-row {
  background-color: #232634;
  padding-left: 30%;
  padding-right: 30%;
}
