#logout-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 10px;
}

.Link {
  text-align: center;
  color: #c6d0f5;
}

.profile-card {
  background-color: #232634;
  color: black;

  text-align: left;
  border-radius: 10px;
  border: 2px solid #babbf1;
  /* text-decoration-color: white; */
  margin-bottom: 10%;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 3%;
  padding-top: 3%;
}

.profile-card p{
  line-height: 2rem;
  text-align: left;
  font-size: 1rem;
  padding-left: 2rem;
  color: #c6d0f5;
}

.profile-card b{
  color: #f2d5cf;
}

.profile-card h2{
  font-size: 2rem;
  padding-top: 2rem;
  color: #f2d5cf;
  text-align: center;
}

.profile-card img{
  text-align: center;
  font-family: inherit;
  display: block;
  margin: 0 auto;
  border: #babbf1 2px solid;
}