.proyect-panel {
  position: relative;
  background-color: #303446;
  /* margin-left: 5rem; */
  /* width: 20rem; */
  /* height: 42rem; */
  /* height: 100%; */
  text-align: center;
  font-size: 1rem;
}

.carousel-box {
  width: 95%;
  /* height: 40rem; */
  position: absolute;
  margin-left: 2.5%;
  top: 20vh;
}

.project-card {
  background-color: #232634;
  color: black;
  /* flex-basis: 35%; */
  /* width: 20%; */
  text-align: center;
  /* line-height: 20vh; */
  font-size: 1rem;
  border-radius: 7px;
  border: 2px solid #babbf1;
  text-decoration-color: white;
  margin-bottom: 3rem;
  margin-right: 3rem;
}

.project-card p{
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.project-card h3 {
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #f2d5cf;
}

.project-title{
  text-align: center;
}

.add-project{
  margin-bottom: 5%;
}