.proyect-panel {
  position: relative;
  background-color: #303446;
  /* margin-left: 5rem; */
  /* width: 20rem; */
  /* height: 42rem; */
  /* height: 100%; */
  text-align: center;
  font-size: 1rem;
}

.carousel-box {
  width: 95%;
  /* height: 40rem; */
  position: absolute;
  margin-left: 2.5%;
  top: 20vh;
}

.project-card {
  background-color: #232634;
  color: black;
  /* flex-basis: 35%; */
  /* width: 20%; */
  text-align: center;
  /* line-height: 20vh; */
  font-size: 1rem;
  border-radius: 7px;
  border: 2px solid #babbf1;
  text-decoration-color: white;
  margin-bottom: 3rem;
  margin-right: 3rem;
}

.project-card p{
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  height: 222px;
}

.project-card h3 {
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #f2d5cf;
}

.project-title{
  text-align: center;
}

.add-project{
  margin-bottom: 5%;
}

.proyect-panel table {
  color: #c6d0f5;
  width: 97%;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  --border: 2px solid #babbf1;
  border-radius: 7px;
  border-spacing: 0;
  border-collapse: separate;
  border: var(--border);
  overflow: hidden;
}

.Modal-M tr {
  background-color: #232634;
}


.Modal-M{
  background-color: #232634;
  height: 60%;
  margin: 10%;
  margin-left: calc(10% + 60px);
}

.Modal-M-app {
  background-color: #232634;
}
.Modal-M-app h2{
  color: #f2d5cf;
  text-align: center;
  padding-top: 20px;
}

.Modal-M-app h6{
  padding-left: 60px;
  color: white;
}

.Modal-Cancel-Continue{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.modal-proyects-table{
  width: 60%;
  margin-left: 20%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
}

.proyect-scroll-m{
  overflow: auto;
  height: 290px;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: #FFF 1px solid;
  border-bottom: #FFF 1px solid;
  width: 90%;
  margin-left: 5%;
}

.modal-proyects-row {
  background-color: #232634;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
}

.modal-proyects-row button {
  background-color: #232634;
  color: #c6d0f5;
  border: 2px solid #a6d189;
}

.modal-proyects-row button:active, .modal-proyects-row button:hover, .modal-proyects-row button:focus {
  background-color: #FFF;
  color: #000000;
}

.modal-proyects-row button.accepted {
  background-color: #0f0
}
