.settings-panel {
  position: relative;
  background-color: #303446;
  margin-left: 5rem;
  width: 20rem;
  height: 42rem;

  position: relative;
  display: grid;
  background-color: #303446;
  margin-left: 5rem;
  /* height: 42rem; */
  height: calc(100vh - 15rem);
  /* height: 100vh; */
  text-align: left;
  font-size: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0px;
}

.settings-panel button {
  /* background-color: #303446; */
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
  text-decoration: none;
  margin-bottom: 0.75rem;
}

.admin-settings,
.normal-settings {
  grid-column-start: 1;
  grid-column-end: 1;
  width: 20rem;
  border-right: 1px solid #c6d0f5;
}

.settings-details {
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 7;
}

h3 {
  padding-bottom: 1rem;
}

#adminset {
  margin-top: 3rem;
}
