.settings-panel {
  background-color: #303446;
  margin-left: 64px;
  width: 35vh;
  height: 70vh;
  text-align: left;
  border-right: 1px solid #c6d0f5;
  font-size: 18px;
}

button {
  background-color: #303446;
  text-align: left;
  margin-left: 0px;
}

h3 {
  padding-bottom: 1.5vh;
}

p {
  padding-bottom: 1vh;
}

#adminset {
  margin-top: 5vh;
}
