.settings-panel {
  position:relative;
  background-color: #303446;
  margin-left: 5rem;
  width: 20rem;
  /* height: 42rem; */
  height: calc(100vh - 15rem);
  /* height: 100vh; */
  text-align: left;
  border-right: 1px solid #c6d0f5;
  font-size: 1rem;

}

.settings-panel button {
  /* background-color: #303446; */
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
  text-decoration: none;
  padding-bottom: 0.75rem;
}

h3 {
  padding-bottom: 1rem;
}

#adminset {
  margin-top: 3rem;
}
