.signup-button {
  border-radius: 7px;
  background-color: #47d7ac;
  color: #000000;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  align-items: center;
  width: auto;
  border: 2px solid #babbf1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  left: 50%;
}

.signup-button:hover {
  background-color: #babbf1;
  color: #000000;
  border: 2px solid #FFF;
}
