.signup-button {
  border-radius: 12px;
  background-color: #47d7ac;
  color: #000000;
  padding: 10px 20px 10px;
  align-items: center;
  width: 25rem;
  border-color: #ffffff;
  border-width: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  left: 50%;
}

.signup-button:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #47d7ac;
  border-width: 2px;
}
